/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 oct. 2019, 1:35:26
    Author     : franciscoantonio
*/

[id="contenido"]
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   margin: 0 auto;
   text-align:center;
}
h1{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    text-align: center;
    border-bottom: solid blue;
}
